.login-background {
    .login-container {
        width: 100%;
        margin: auto;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .login-logo {
            padding: 20px 0;
            margin-bottom: 13px;
            img {
                width: 143px;
                margin-bottom: -30px;
                margin: auto;
            }
        }

        .login-box {
            .login-title {
                font-size: 26px;
                font-weight: 500;
                margin-bottom: 5px;
                text-align: center;
            }

            .login-subtitle {
                color: #888888;
                font-size: 18px;
                font-weight: 500;
                font-style: bold;
                text-align: center;
                margin: 0 0 30px;
            }

            .login-input {
                margin-bottom: 25px;
                font-weight: 500;

                label {
                    color: #1f1f1f;
                    font-size: 16px;
                    margin-bottom: 7px;
                }
            }

            button {
                background: linear-gradient(to right, #0597f3 10%, #03e2d0 100%);
                border: 0;
                font-size: 22px;
                width: 100%;
                border-radius: 4px;
                padding: 10px 26px;
                color: white;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .account-footer {
                font-weight: 500;
                font-size: 15px;
            }
            .forgot-password {
                color: blue !important;
                font-weight: 500;
                text-decoration: none;
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 475px) {
    .login-background {
        background-color: white;

        .login-container {
            background-color: white;
            width: 100%;
            height: 100%;
            margin: auto;

            .login-logo {
                text-align: center;
                padding: 20px 0;
                margin-bottom: 13px;
            }

            .login-box {
                padding: 15px;
                margin-top: -10px;
                width: 97%;
                .login-title {
                    font-size: 26px;
                    font-weight: 500;
                    margin-bottom: 5px;
                    text-align: center;
                }

                .login-subtitle {
                    color: #888888;
                    font-size: 18px;
                    margin: 0 0 20px;
                }

                .login-input {
                }

                .account-footer {
                    font-weight: 500;
                    font-size: 15px;
                }
                .forgot-password {
                    color: blue !important;
                    font-weight: 500;
                    text-decoration: none;
                    font-size: 15px;
                    margin-bottom: 100px;
                }
            }
        }
    }
    .form-control {
        border: 1px solid #444;
    }
}
