.dvyt:checked ~ .med-service-list {
    display: flex;
    border: 0px;
}
.dvyt:checked ~ .med-service-list {
    display: flex;
    border: 0px;
}
.dvyt:checked ~ .med-service {
    background-color: #555;
    color: white;
    border: 0px;
    border-color: #555;
    transition: all;
    box-shadow: none;
}
.dvsk:checked ~ .health-service-list {
    display: flex;
    border: 0px;
}
.dvsk:checked ~ .health-service {
    background-color: #555;
    transition: all;
    color: white;
    border-bottom: 0;
    border-color: #555;
    box-shadow: none;
}

.input-regis-form:checked ~ .overplay-regis,
.input-regis-form:checked ~ .regis-form {
    display: flex;
}
.input-consult-form:checked ~ .overplay-consult,
.input-consult-form:checked ~ .consult-form {
    display: flex;
}
.custom-scrollbar > div {
    margin: 0;
}
.image {
    img {
        height: 100%;
        margin: auto;
    }
}
img {
    margin: auto;
}
