.register-background {
    .register-container {
        background: rgb(247, 247, 247);
        width: 100%;
        margin: auto;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .register-logo {
            text-align: center;
            padding: 20px 0;
            margin-bottom: 13px;
            img {
                width: 143px;
                margin-bottom: -20px;
            }
        }

        .register-box {
            width: 50%;
            height: 100%;
            margin: 0 auto;
            background-color: white;
            padding: 30px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            margin-bottom: 100px;
            .register-title {
                font-size: 26px;
                font-weight: 500;
                margin-bottom: 5px;
                text-align: center;
            }

            .register-subtitle {
                color: #888888;
                font-size: 18px;
                font-weight: 500;
                font-style: bold;
                text-align: center;
                margin: 0 0 30px;
            }
            .form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .register-input {
                    width: 48%;
                    margin-bottom: 25px;
                    font-weight: 500;
                    .formik-error {
                        color: red;
                        font-style: italic;
                        font-weight: 300;
                        font-size: 14px;
                    }
                    label {
                        color: #1f1f1f;
                        font-size: 16px;
                        margin-bottom: 7px;
                    }
                    .register-error-response {
                        color: red;
                        font-size: 14px;
                        font-style: italic;
                        margin: 0 0;
                    }
                    .label-form {
                        position: relative;

                        label {
                            color: #1f1f1f;
                            font-size: 16px;
                            margin-bottom: 5px;
                        }
                    }

                    .password-input-form {
                        position: relative;

                        input {
                            background-color: rgb(247, 247, 247);
                            border: 1px solid #e3e3e3;
                            height: 46px;
                            border-radius: 4px;
                            font-weight: 500;
                            font-size: 15px;
                        }

                        i {
                            position: absolute;
                            right: 10px;
                            top: 47px;
                            cursor: pointer;
                        }
                    }

                    input {
                        background-color: rgb(247, 247, 247);
                        border: 1px solid #e3e3e3;
                        height: 46px;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
            }
            button {
                background: linear-gradient(to right, #ec66d8 10%, #df26a4 100%);
                border: 0;
                font-size: 22px;
                width: 100%;
                border-radius: 4px;
                padding: 10px 26px;
                color: white;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .account-footer {
                font-weight: 500;
                font-size: 15px;
            }
            .forgot-password {
                color: blue !important;
                font-weight: 500;
                text-decoration: none;
                font-size: 15px;
            }
        }
    }
}

.formik-error {
    color: red;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    padding-left: 10px;
}
@media (max-width: 1024px) {
    .register-background {
        .register-container {
            .register-box {
                width: 80%;
            }
        }
    }
}

/* md */
@media (max-width: 768px) {
    .register-background {
        background-color: white;
        .register-container {
            .register-box {
                width: 100%;
            }
        }
    }
}

/* xs */
@media (max-width: 475px) {
    .register-background {
        background-color: white;
        .register-container {
            background-color: white;
            .register-box {
                width: 100%;
                padding: 0 15px;
            }
        }
    }
    .register-background .register-container .register-box .form .register-input {
        width: 100%;
        margin-bottom: 25px;
        font-weight: 500;
    }
    .register-background .register-container .register-box .forgot-password {
        margin-bottom: 100px;
    }
}
